@model PTIStockMgmt.Models.location
@using PTIStockMgmt.Helpers

@{
  ViewBag.Title = "Create";
}

@using (Html.BeginForm("Create", "Location", null, FormMethod.Post, new { id = "formid", @class = "form-horizontal" }))
{
  @Html.AntiForgeryToken()
  @Html.ValidationSummary(true)

  <fieldset>
    <legend>Create New</legend>

    @Html.FormGroup(model => model.number, "Number")
    @Html.FormGroup(model => model.street, "Street")
    @Html.FormGroup(model => model.suburub, "Suburb")
    @Html.FormGroup(model => model.postcode, "Postcode")
    @Html.FormGroup(model => model.state, "State")
    @Html.FormGroup(model => model.country, "Country")
    @Html.FormGroup(model => model.location_string, "Location String", "input-block-level")
    @Html.FormGroup(model => model.comment, "Comment")

    <div class="form-actions">
      @Html.Submit()
      @Html.Cancel()
    </div>

  </fieldset>
}

@section Scripts {
  @Scripts.Render("~/bundles/jqueryval")

  <script type="text/javascript">
    $('input').keyup(function () {
      $('#location_string').val($('#number').val() + " " + $("#street").val() + ", " + $("#suburub").val() + ", " + $('#state').val() + " " + $('#postcode').val() + ", " + $("#country").val());
    });
  </script>
}
