@model IEnumerable<PTIStockMgmt.Models.user>

@{
  ViewBag.Title = "Index";
}

<p>
  @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-success" })
</p>

<table class="table table-striped table-bordered">
  <tr>
    <th>#</th>
    <th>
      @Html.DisplayNameFor(model => model.name)
    </th>
    <th>
      @Html.DisplayNameFor(model => model.email)
    </th>
    <th>
      @Html.DisplayNameFor(model => model.joined)
    </th>
    <th></th>
  </tr>

  @foreach (var item in Model)
  {
    <tr>
      <td>
        @Html.DisplayFor(modelItem => item.id)
      </td>
      <td>
        @Html.DisplayFor(modelItem => item.name)
      </td>
      <td>
        @Html.DisplayFor(modelItem => item.email)
      </td>
      <td>
        @Html.DisplayFor(modelItem => item.joined)
      </td>
      <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.id }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.id })
      </td>
    </tr>
  }

</table>